* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    margin: 0;

    background-color: #61779a;
}

.header {
    padding: 20px 0px;

    background-color: #293d5a;
}

h1 {
    margin: 0;

    text-align: center;
    color: white;
}

h2 {
    text-align: center;
}

/* SCORE BAR */

#score-bar {
    display: flex;

    justify-content: center;
    gap: 80px;
}

.score {
    width: 100px;
    height: 100px;
    border-radius: 10px;

    display: flex;
    
    flex-direction: column;
    justify-content: center;
    
    background-color: #2b506e;

    text-align: center;
}

.score h3 {
    margin: 0;

    color: white;
}

/* MATCH AREA */

#match-area {
    margin-bottom: 16px;

    display: flex;

    flex-direction: column;
    align-items: center;
}

#match-result {
    min-height: 18px;

    text-align: center;
}

#displays-area {
    display: flex;

    align-items: center;

    gap: 15px
}

.display {
    display: flex;

    flex-direction: column;
    align-items: center;
}

.display p {
    margin: 3px 0px;
}

.reversed {
    transform: scaleX(-1);
}

/* CHOICE BAR */

#choice-bar {
    display: flex;

    justify-content: center;
    gap: 10px;

    /* padding: 10px; */

    /* background-color: blue; */
}

button {
    /* background-color: #4a6987; */
    /* background-color: #316798; */
}