* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

h1 {
    text-align: center;
}

#score-bar {
    display: flex;
    justify-content: space-between;

    margin: 0 10px;
}

.score {
    text-align: center;
}

#choice-bar {
    display: flex;

    justify-content: center;
    gap: 10px;

    /* padding: 10px; */

    background-color: blue;
}

#result-div {
    text-align: center;
}